# Ignore node_modules folder
MedscribeUI/node_modules

# Ignore dist folder
MedscribeUI/dist

# Ignore distilled folder
/scripts

MedscribeUI/build/

MedscribeUI/coverage/

MedscribeUI/yarn-error.log

MedscribeUI/src/adHocComponents

creds.json

.env

cmd/billing
test.py
.gitignore
